"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "vim-mode-plus"
      "vim-mode-plus-ex-mode"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "3236aff7-a3fe-876d-e300-6014dca3dafa"
  welcome:
    showOnStartup: false
".matlab.source":
  editor:
    tabLength: 4
".octave.source":
  editor:
    tabLength: 4
